@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    background-color: #fff;
    width: 5px;
}


::-webkit-scrollbar-thumb{
    background-color: rgb(0, 102, 255);
    border-radius: 5px;
}